.wc-ClockDate {
    font-size: 48px;
    letter-spacing: 0.07em;
    text-shadow: 0px 0px 13px #000000;
    text-transform: uppercase;
    display: flex;
    margin-left: 15px;
}

.wc-ClockDate-separator {
    width: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 0.3em;
}