.wc-ClockDate {
    font-size: 36px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    display: flex;
    margin-left: 15px;
}

.wc-ClockDate-separator {
    width: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 0.3em;
}