.wc-WeatherForecast {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 14px;
}

.wc-WeatherForecast-name {
    font-size: 24px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    opacity: 0.75;
    line-height: 42px;
    white-space: nowrap;
    flex: 1;
}

.wc-WeatherForecast-header {
    display: flex;
    align-items: baseline;
}

.wc-WeatherForecast-lastUpdated {
    font-size: 16px;
    opacity: 0.75;
    text-transform: uppercase;
}

.wc-WeatherForecast-details {
    font-size: 28px;
    line-height: 33px;
}
