@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), url('./assets/fonts/RobotoCondensedRegular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'Roboto Condensed';
  background-color: #333;
  color: white;
  text-shadow: 0px 0px 13px #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}