.wc-ClockTime {
    font-size: 214px;
    line-height: 170px;
    margin-right: 10px;
    display: flex;
}

.wc-ClockTime-separator {
    color: transparent;
    display: flex;
    align-items: center;
}

.wc-ClockTime-separator::before, .wc-ClockTime-separator::after {
    content: '';
    height: 20px; 
    width: 20px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;
    display: block;
    position: relative;
}

.wc-ClockTime-separator::before {
    top: -30px;
    left: 10px;
}

.wc-ClockTime-separator::after {
    top: 30px;
    left: -10px;
}