.wc-ClockTime {
    font-size: 214px;
    line-height: 187px;
    margin-right: 10px;
    display: flex;
}

.wc-ClockTime-separator {
    color: transparent;
    display: flex;
    align-items: center;
}

.wc-ClockTime-separator::before, .wc-ClockTime-separator::after {
    content: '';
    height: 20px; 
    width: 20px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;
    display: block;
    position: relative;
}

.wc-ClockTime-separator::before {
    top: -30px;
    left: 10px;
}

.wc-ClockTime-separator::after {
    top: 30px;
    left: -10px;
}

.wc-ClockTime-ampm {
    font-size: 24px;
    opacity: 0.75;
    line-height: 1;
    align-self: end;
    margin-bottom: 14px;
    margin-left: -4px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}